/* Styling for the chatbot container */
#chatbot {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

/* Styling for bot messages */
.botText {
    font-family: monospace;
    font-size: 14px;
    text-align: left;
    color: rgb(109, 111, 109);
}

/* Styling for the user input container */
#userInput {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

/* Styling for user input text box */
#textInput {
    border: 3px solid white;
    border-bottom: 3px solid #afaf;
    font-family: monospace;
    font-size: 14px;
    width: 60%;
    padding: 16px;
    color: rgb(213, 63, 41);
}

/* Styling for the send button */
#buttonInput {
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    border: 3px solid #5b605c;
    background-color: rgb(40, 80, 40);
    color: white;
    border-radius: 10px;
}

/* Styling for the h1 element */
h1 {
    text-align: center;
    color: rgb(57, 72, 57);
}

/* Styling for user messages */
.userText {
    font-family: monospace;
    font-size: 14px;
    text-align: right;
    color: rgb(109, 111, 109);
}
